header {
    background: $white;
    height: 100vh;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      background: $bg_primary;
      height: 100vh;
      width: 60%;
      /* z-index: 1; */
    }
  }

.hero {
    div {
      position: absolute;
      // background-color: rgb(174, 199, 199);
      // border: 2px solid red;
      height: 80vh;
      display: flex;
      flex-direction: column;
      padding: 2em 0;
      // justify-content: center;
      @media(max-width:900px){
        height: auto;
      }
      &:nth-child(1){
        width: 50%; 
        @media(max-width:900px){
         width: 60%;
        }
        @media(max-width:576px){
          width: 100%;
          top: 80vh;
        }
      }
      & + div {
        right: 0;
        justify-content: center;
        @media(max-width:900px){
          // right: 50%;
          // transform: translateX(50%);
          max-width: 40%;
        }
        @media(max-width:576px){
          max-width: 100%;
        }
      }
    }
    p {
      color: #d2d2d2;
      // line-height: 120.5%;
      &:nth-child(1) {
        font-weight: 500;
        font-size: .8rem;
        letter-spacing: 0.5em;
      }
      &:nth-child(3) {
        font-size: 1.2rem;
        margin: 3em 0;
      }
    }
    h1 {
      font-size: 3rem;
      // line-height: 120.5%;
      color: $white;
    }
    .btn {
      background: #c7e1bf;
      border-radius: 48px;
      font-size: .8rem;
      padding: 1em 2em;
      color: #102522;
      display: inline-block;
      &+.btn{
        margin-left: 1.3rem;
      }
    }
    img {
      height: 80vh;
      @media(max-width:900px){
        height: auto;
      }
    }
  }
  
  main{
    margin: auto 0;
    padding: 4em;
  }